<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>33C3 Atom Torrents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/normalize.css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/milligram/dist/milligram.min.css') }}" />
    {% for feed, qualities in feeds.items() %}
      {% for quality in qualities %}
        <link herf="{{ url_for('feed', name=quality, _external=True) }}" rel="alternate" title = "Podcast feed for {{ quality }} 33C3 torrents" type="application/rss+xml" />
      {% endfor %}
    {% endfor %}
    <style type="text/css">
      .container {
        padding: 5em 0em;
      }
    </style>
  </head>
  <body>
    <section class="container">
      <h1>33C3 Torrent Feeds</h1>
      <p>Available via <a href="https://cccfeeds.finn.io">clearnet</a> and as a <a href="http://32c3xt3uy7chnptn.onion">tor onion service</a>
    </section>
    <section class="container">
      <div class="row">
        {% for feed, qualities in feeds.items() %}
        <div class="column">
          <h2>{{ feed }}</h2>
          {% for quality in qualities %}
          <a class="button" href="{{ url_for('feed', name=quality, _external=True) }}"><img src="{{ url_for('static', filename='feed.svg') }}" style="border: 0; height: 1em;" /> {{ quality }}</a>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section>
    <footer class="footer">
      <section class="container">
        <h3>Notes</h3><br />
        <a href="https://github.com/thefinn93/CCC-torrent-feed">Source code can be found here</a>. Feel free to make issues or pull requests.<br /><br />
      </section>
    </footer>
  </body>
</html>
